<div class="container">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <img src="balon.png" alt="Logo" class="logo" width="50" height="60" />
      </div>
      <div class="navbar-title">
        <h1>ACE STREAM LINKS</h1>
      </div>
    </div>
    <div class="time-clock">
      <i class="bi bi-clock"></i>
      <iframe
        src="https://free.timeanddate.com/clock/i9n4hxch/n327/tles4/fn12/fs18/fcfff/tc000/pcccc/ftb/bls0/brs0/bts4/th1"
        frameborder="0"
        width="92"
        height="25"
      ></iframe>
    </div>
  </nav>

  <h3 class="agenda-header">AGENDA DEPORTIVA</h3>
  <div class="futbol-tv-agendas">
    <div class="iframe-container">
      <div class="spinner-container" *ngIf="loading[0]">
        <mat-spinner diameter="78"></mat-spinner>
      </div>
      <iframe
        id="ftv_iframe_0"
        name="ftv_iframe_0"
        src="https://widgets.futbolenlatv.com/partidos/competition/la-liga?color=007eff&culture=es-ES"
        width="400"
        height="401"
        frameborder="0"
        scrolling="auto"
        style="margin-bottom: 10px"
        (load)="onIframeLoad(0)"
      ></iframe>
    </div>
    <div class="iframe-container">
      <div class="spinner-container" *ngIf="loading[1]">
        <mat-spinner diameter="78"></mat-spinner>
      </div>
      <iframe
        id="ftv_iframe_1"
        name="ftv_iframe_1"
        src="https://widgets.futbolenlatv.com/partidos/competition/liga-campeones?color=007eff&culture=es-ES"
        width="400"
        height="401"
        frameborder="0"
        scrolling="auto"
        style="margin-bottom: 10px"
        (load)="onIframeLoad(1)"
      ></iframe>
    </div>
    <div class="iframe-container">
      <div class="spinner-container" *ngIf="loading[2]">
        <mat-spinner diameter="78"></mat-spinner>
      </div>
      <iframe
        id="ftv_iframe_2"
        name="ftv_iframe_2"
        src="https://widgets.futbolenlatv.com/partidos/competition/europa-league?color=007eff&culture=es-ES"
        width="400"
        height="401"
        frameborder="0"
        scrolling="auto"
        style="margin-bottom: 10px"
        (load)="onIframeLoad(2)"
      ></iframe>
    </div>
    <div class="iframe-container">
      <div class="spinner-container" *ngIf="loading[3]">
        <mat-spinner diameter="78"></mat-spinner>
      </div>
      <iframe
        id="ftv_iframe_3"
        name="ftv_iframe_3"
        src="https://widgets.futbolenlatv.com/partidos/equipo/athletic-club-de-bilbao?color=007eff&culture=es-ES"
        width="400"
        height="401"
        frameborder="0"
        scrolling="auto"
        style="margin-bottom: 10px"
        (load)="onIframeLoad(3)"
      ></iframe>
    </div>
    <div class="iframe-container">
      <div class="spinner-container" *ngIf="loading[4]">
        <mat-spinner diameter="78"></mat-spinner>
      </div>
      <iframe
        id="ftv_iframe"
        name="ftv_iframe"
        src="https://widgets.futbolenlatv.com/partidos/competition/premier-league?color=007eff&culture=es-ES"
        width="400"
        height="401"
        frameborder="0"
        scrolling="auto"
        style="margin-bottom: 10px"
        (load)="onIframeLoad(4)"
      ></iframe>
    </div>
  </div>

  <h4 class="text-enlaces-agenda-completa">
    Para ver la agenda completa, visita la web de&nbsp;
    <a href="https://www.futbolenlatv.es/" class="link-futboltv" target="_blank"
      >Fútbol en la TV
      <span style="vertical-align: middle"
        ><sup><i class="bi bi-box-arrow-in-up-right"></i></sup></span
    ></a>
  </h4>

  <!--   <div class="agenda-text-component">
    <app-agenda-evento-text></app-agenda-evento-text>
  </div> -->

  <h3 class="header-enlaces">ENLACES</h3>

  <div class="canales-actualizados">
    <span class="canales-text"
      >Nuevos canales añadidos: UFC y UFC Fight Pass. También actualizados los
      enlaces caídos.</span
    >
  </div>

  <div class="search-container">
    <form class="search-form">
      <input
        type="text"
        class="search-field"
        placeholder="Introduce el canal a buscar..."
        [(ngModel)]="searchTerm"
        (keyup)="filterLinks()"
        name="searchTerm"
      />
      @if (searchTerm) {
      <div class="delete-search-container">
        <button
          matTooltip="Borrar texto de búsqueda"
          matTooltipPosition="below"
          class="delete-search-button"
          (click)="deleteSearch()"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      }
    </form>
  </div>
  @if (filteredLinks.length === 0) {
  <p class="no-encontrado-text">No se encontraron canales.</p>
  } @else {
  <div class="links-container">
    <div class="column" *ngFor="let column of [0, 1]">
      <li
        class="links"
        *ngFor="
          let link of filteredLinks
            | slice
              : column * (filteredLinks.length / 2)
              : (column + 1) * (filteredLinks.length / 2)
        "
      >
        <a
          href="{{ link.url }}"
          class="acestream-link"
          (click)="trackClick(link.title)"
          ><img [src]="link.img" class="logo-img" />&nbsp;
          {{ link.title }}
        </a>
        <button
          matTooltip="Copiar enlace"
          matTooltipPosition="right"
          class="copy-button"
          (click)="copyLink(link.url)"
        >
          <i
            class="bi bi-copy"
            style="font-size: 20px; display: block; margin: 3px"
          >
          </i>
        </button>
      </li>
    </div>
  </div>
  }

  <div class="how-to-play-container">
    <h3 class="how-to-play-header">CÓMO REPRODUCIR ENLACES ACE STREAM</h3>
    <p class="how-to-play-text">
      Para reproducir los enlaces Ace Stream en tu dispositivo necesitas tener
      instalado Ace Stream Media. Si no lo tienes instalado, puedes descargarlo
      desde la página oficial de Ace Stream haciendo clic
      <a href="https://www.acestream.org/?page=products" target="_blank">aquí</a
      >, o desde
      <a
        href="https://play.google.com/store/apps/details?id=org.acestream.node"
        target="_blank"
        >Play Store</a
      >
      para Android.
    </p>

    <h3 style="color: white; margin: 0 20px 20px 29px">Android</h3>

    <p class="how-to-play-text">
      Para reproducir los enlaces en tu dispositivo móvil, una vez instalado Ace
      Stream, puedes abrir el enlace haciendo clic en él directamente, lo que
      abrirá Ace Stream y reproducirá el contenido. También puedes copiar el
      enlace, abrir Ace Stream manualmente y pegar el enlace en el cuadro de
      texto "Enter content link".
    </p>

    <h3 style="color: white; margin: 0 20px 20px 29px">Windows</h3>

    <p class="how-to-play-text">
      Una vez instalado Ace Stream en Windows, tienes dos formas de reproducir
      los enlaces: la primera es copiar el enlace, abrir Ace Player manualmente
      y pegar el enlace en la opción "Medio"
      <i class="bi bi-arrow-right"></i> "Open Ace Stream Content ID". La segunda
      es haciendo clic directamente en el enlace, seleccionar Ace Player y
      esperar al anuncio para ver el contenido. <b>Nota:</b> Asegúrate de tener
      abierto Ace Stream Engine (ace_engine / Ace Stream HD), si no, ábrelo tú
      manualmente desde la ruta de instalación de Ace Stream.
    </p>

    <p class="how-to-play-text">
      Para reproducir los enlaces correctamente en tu dispositivo, es
      recomendable cambiar ciertos parámetros en la configuración de Ace Stream
      y de Ace Player (solo en Windows). Primero, haz clic derecho sobre el
      icono de Ace Stream en la barra de tareas y selecciona "Options..." (En
      Android ir a la configuración). Allí, cambia los valores de "VOD buffer" a
      10 y "Live buffer" a 60. Después, en Ace Player, ve en la parte de arriba
      a "Herramientas"
      <i class="bi bi-arrow-right"></i> "Preferencias"
      <i class="bi bi-arrow-right"></i> "Vídeo" y en Desentrelazado selecciona
      "Automático" y Modo <i class="bi bi-arrow-right"></i> "Yadif (2x)".
    </p>
  </div>
  <div class="footer">
    <span class="footer-text">Ace Stream Links</span>
    <p class="footer-text">
      Todos los enlaces son obtenidos de fuentes externas.
    </p>
  </div>
  <button
    matTooltip="Volver arriba"
    matTooltipPosition="left"
    class="scroll-to-top"
    (click)="scrollToTop()"
  >
    <i class="bi bi-arrow-up arrow-top"></i>
  </button>
</div>
