.container {
  background-color: #121212;
}

/* SCROLL TO TOP BUTTON */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: #ff1493; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
}

.scroll-to-top:hover {
  background-color: #ff69b4; 
  transition: all 0.3s;
}

.scroll-to-top.show {
  display: block;
  opacity: 1;
}

.delete-search-button {
  cursor: pointer;
  background-color: #002fff;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 50%;
  font-size: 16px;
  margin-left: 5px;
  transition: background-color 0.3s;
}

.delete-search-button:hover {
  background-color: #2986f0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.logo-img {
  width: auto;
  height: 22px;
  vertical-align: middle;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #444;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo .logo {
  height: 50px;
  margin-right: 20px;
}

.navbar-title h1 {
  margin: 0;
  font-size: 24px;
}

.custom-message {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 18px;
  z-index: 1000;
  width: auto;
}

.search-form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 100%; 
}

.search-field {
  width: 100%;
  margin: 16px 0;
  max-width: 500px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #666262;
  border-radius: 25px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-field:focus {
  border-color: #be3a80;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.canales-sd {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 10px;
  color: white;
}

.no-encontrado-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
  color: white;
}

.copy-button {
  margin-left: 7px;
  cursor: pointer;
  padding: 0px 2px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.copy-button:hover {
  background-color: rgba(212, 208, 208, 0.9);
  transition: all 0.3s;
}

.link-futboltv:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}

.link-futboltv {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.agenda-text-component {
  display: flex;
  justify-content: center;
}

.time-clock {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: larger;
}

.time-clock iframe {
  margin-left: 0.6rem;
}

.text-enlaces-agenda-completa {
  display: flex;
  justify-content: center;
  color: white;
}

.footer {
  flex-shrink: 0;
  background-color: #004d40;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 12px;
}

.footer-text {
  color: white;
  font-size: 13px;
  margin-top: 8px;
}

.how-to-play-header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 5px;
  color: white;
}

.how-to-play-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px; 
  padding: 15px;
  font-family: Arial, sans-serif;
  font-size: 17px; 
  line-height: 1.6;
  color: #333;
  background: linear-gradient(to top, #000000, #222020);
  margin: 0 30px 30px 35px; 
  margin-top: 3rem;
}

.how-to-play-text {
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: white;
  margin: 0 20px 20px 29px;
}

.how-to-play-text a {
  color: #007bff;
  text-decoration: none;
}

.how-to-play-text a:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}

.acestream-link {
  text-align: center;
  margin: 5px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #353333;
  font-size: 19px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.acestream-link:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.futbol-tv-agendas {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-enlaces {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.agenda-header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.links-container {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.column:last-child {
  margin-right: 0;
}

.iframe-container {
  position: relative;
  width: 400px;
  height: 401px;
  margin-bottom: 10px;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@media (max-width: 600px) {
  .how-to-play-text {
    margin: 0 10px 20px 10px;
    font-size: 15px;
  }

  .footer-text {
    font-size: 14px;
  }

  .github-logo {
    font-size: 30px;
  }

  .acestream-link {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 1979px) {
  .futbol-tv-agendas {
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
  }

  .canales-sd {
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .text-enlaces-agenda-completa {
    flex-wrap: wrap;
  }

  .iframe-container {
    width: auto;
    height: auto;
  }
}