<div class="agenda-evento-text">
  <h3 class="evento-text">SUPERCOPA DE ESPAÑA</h3>
  <div class="mini-separator"></div>
  <span class="agenda-text">
    <strong>R. Madrid vs. Atlético</strong> |
    &nbsp;<i class="bi bi-calendar-date"></i> 08/01 &nbsp;<i class="bi bi-clock"></i> 20:00h
  </span>
  <span style="font-weight: bold; font-size: larger;">
    <i class="bi bi-tv"></i>&nbsp; M+ LALIGA
  </span>
  <!-- <br /> -->
  <!-- <span style="font-style: italic">
    Resto de partidos consultar en Agenda Deportiva
  </span> -->
</div>
