.agenda-text {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  flex-wrap: wrap;
}

.agenda-text a {
  color: #2087f5;
  text-decoration: none;
}

.agenda-text a:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}

.evento-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
}