.agenda-evento-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.agenda-text {
  padding: 0.5rem;
}

.agenda-text a {
  color: #2087f5;
  text-decoration: none;
}

.agenda-text a:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}

.evento-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.mini-separator {
  width: 50px;
  height: 4px;
  background: linear-gradient(90deg, #00bfff, #007acc);
  margin: 0 auto 20px auto;
  border-radius: 2px;
}