/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scrollbar-color: rgb(70, 69, 69) #181717;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
